<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <form [formGroup]="postUpdateForm" (ngSubmit)="onPostUpdateSubmit()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
        <div *ngIf="postUpdateForm.get('title').touched && postUpdateForm.get('title').invalid">
          <div *ngIf="postUpdateForm.get('title')?.errors?.['required']">Title is required</div>
          <div *ngIf="postUpdateForm.get('title')?.errors?.['minlength']">Title should be minimum of 6 characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea type="text" class="form-control" formControlName="description"></textarea>
        <div *ngIf="postUpdateForm.get('description').touched && postUpdateForm.get('description').invalid">
          <div *ngIf="postUpdateForm.get('description')?.errors?.['required']">Description is required</div>
          <div *ngIf="postUpdateForm.get('description')?.errors?.['minlength']">Description should be minimum of 10 characters</div>
        </div>
      </div>
      <div class="my-3">
        <button class="btn btn-primary" type="submit"
                [disabled]="postUpdateForm.invalid">Update Post</button>
      </div>
    </form>
  </div>
</div>
